# Environment variables (IMPORTANT!)
#.env

# Dependencies
node_modules/

# Prisma
prisma/.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
# Database files
dev.db
dev.db-journal
*.log
prisma/migrations/